@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg {
  z-index: 1;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0rem;
}

.content {
  justify-content: center;
  color: white;
  display: flex;
  position: relative;
  z-index: 9999;
}


.content-title {
  justify-content: center;
  color: white;
  display: flex;
  position: relative;
  font-size: 40px;
  margin-top: 10rem;
  z-index: 9999;
}

.next {
  margin-left: 3rem;
}

.left-infos {
  position: relative;
  color: white;
  z-index: 9999;
  font-size: 40px;
  width: 35rem;
  margin-left: 3rem;
  margin-top: 15%;
}
.right-infos {
  right: -20rem;
  top: 40%;
  position: absolute;
  color: white;
  z-index: 9999;
  font-size: 40px;
  width: 35rem;
  margin-right: 3rem;
}


.title {
  width: fit-content;
  color: rgb(255, 255, 255);
  font-size: 80px;
  margin-top: 25%;
  font-weight: 900;
}

.start {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
}